<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title tiles:fragment="title">Login</title>
</head>
<body>
<h3>Please log in</h3>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="POST">
        <fieldset>
            <div th:if="${param.error}" style="color: red">
                Invalid email or password
            </div>
            <div th:if="${param.logout}">
                Sign in to continue
            </div>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" />
            <br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <br/>
            <button type="submit">Log in</button>
            <button type="reset">Cancel</button>
        </fieldset>
        <h4>Доступные пользователи:</h4>
        <p>slava@ya.ru - 111111 (администратор)</p>
        <p>ivan@ya.ru - 222222 (пользователь)</p>
        <p>oleg@ya.ru - 333333 (оператор)</p>
    </form>
</div>
</body>
</html>