<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>New request</title>

    <style type="text/css">
        .textField {
            width: 300px;
            height: 100px;
            padding: 0 10px;
            font-size: 15px;
            alignment: left;
            text-align: left;
        }
    </style>
</head>
<body>
<h3>Create a new request</h3>
<a sec:authentication="name">VALUE</a>
<a> | </a>
<a th:href="@{/logout}" th:method="post">Logout</a>
<hr/>
<form th:action="@{/requests/new}" method="POST">
    <label for="message">Message</label>
    <br/>
    <textarea id="message" name="message" class="textField" placeholder="Text you message here..."></textarea>
    <br/>
    <br/>
    <button type="submit">Save</button>
    <button type="reset">Cancel</button>
</form>
</body>
</html>