<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Admin account</title>
</head>
<body>
<h3>Administrator's personal account</h3>
<a sec:authentication="name">VALUE</a>
<a> | </a>
<a th:href="@{/logout}" th:method="post">Выход</a>
<hr />

<table border="0">
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr>
        <td>
            <div th:each="person:${people}">
                <a th:text="${person.getName()}">VALUE</a>
            </div>
        </td>
        <td>
            <div th:each="person:${people}">
                <a th:text="${person.getEmail()}">VALUE</a>
            </div>
        </td>
        <td>
            <div th:each="person:${people}">
                <form th:method="PATCH"
                      th:action="@{/lk/admin/editUserRoles/{id}(id=${person.getId()})}"
                      th:object="${person}">
                    <button type="submit">Set "OPERATOR" role</button>
                </form>
            </div>
        </td>
    </tr>
</table>

<hr/>

</body>
</html>