<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
</head>
<body>
<h3>Administrator's personal account</h3>
<a sec:authentication="name">VALUE</a>
<a> | </a>
<a th:href="@{/logout}" th:method="post">Logout</a>
<hr />

<h4>Users</h4>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <div th:each="user:${users}">
        <tr>
            <td>
                <a th:text="${user.getName()}">VALUE</a>
            </td>
            <td>
                <a th:text="${user.getEmail()}">VALUE</a>
            </td>
            <td>
                <a th:text="${user.getRoles()[0].getName().replace('ROLE_','')}">VALUE</a>
            </td>
            <td>
<!--                      th:action="@{/lk/admin/{id}/edit_roles/{u_id}(id=${admin.getId()}, u_id=${user.getId()})}"-->
                <form th:method="PATCH"
                      th:action="@{/admin/{id}/edit_roles/{u_id}(id=${admin.getId()}, u_id=${user.getId()})}"
                      th:object="${user}">
                    <button type="submit">Set "OPERATOR" role</button>
                </form>
            </td>
        </tr>
    </div>
</table>
<hr/>
<h4>Operators</h4>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <div th:if="${!operators.isEmpty()}">
        <div th:each="operator:${operators}">
            <tr>
                <td><a th:text="${operator.getName()}">VALUE</a></td>
                <td><a th:text="${operator.getEmail()}">VALUE</a></td>
                <td><a th:text="${operator.getRoles()[0].getName().replace('ROLE_', '')}">VALUE</a></td>
            </tr>
        </div>
    </div>
</table>
</body>
</html>