<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
</head>
<body>
<h3>Operator's personal account</h3>
<a sec:authentication="name">VALUE</a>
<a> | </a>
<a th:href="@{/logout}" th:method="post">Logout</a>
<hr />
<div th:if="${!submittedRequests.isEmpty()}">
    <h4>Accepted user's requests</h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
        <div th:each="request:${submittedRequests}">
            <tr>
                <td th:text="${request.getId()}">VALUE</td>
                <td th:text="${#temporals.format(request.getTimeOfCreate(), 'dd MMM yyyy, HH:mm')}">VALUE</td>
                <td th:text="${request.getMessage()}">VALUE</td>
                <td th:text="${request.getStatement()}">VALUE</td>
                <td>
                    <form th:method="PATCH"
                          th:action="@{/requests/{r_id}/accept(r_id=${request.getId()})}"
                          th:object="${request}">
                        <button type="submit">Accept</button>
                    </form>
                </td>
                <td>
                    <form th:method="PATCH"
                          th:action="@{/requests/{r_id}/reject(r_id=${request.getId()})}"
                          th:object="${request}">
                        <button type="submit">Reject</button>
                    </form>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>