<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
</head>
<body>
<h3>User's personal account</h3>
<a sec:authentication="name">VALUE</a>
<a> | </a>
<a th:href="@{/logout}" th:method="post">Logout</a>
<hr />
<div th:if="${#httpServletRequest.getParameter('r') == 'success'}"
     style="color: green">
    <p>Request created successfully</p>
</div>
<div th:if="${!requests.isEmpty()}">
    <h4>Your draft requests</h4>
    <table>
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
        <div th:each="request:${requests}">
            <tr>
                <td th:text="${request.getId()}">VALUE</td>
                <td th:text="${#temporals.format(request.getTimeOfCreate(), 'dd MMM yyyy, HH:mm')}">VALUE</td>
                <td th:text="${request.getMessage()}">VALUE</td>
                <td th:text="${request.getStatement()}">VALUE</td>
                <div th:if="${request.getStatement() == T(tech.sergeyev.vitasoft.persistence.model.requests.Statement).DRAFT}">
                    <td>
                        <form th:method="GET"
                              th:action="@{/lk/user/{id}/requests/{r_id}/edit(id=${request.getAuthor().getId()},r_id=${request.getId()})}"
                              th:object="${request}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="PATCH"
                              th:action="@{/requests/{r_id}(r_id=${request.getId()})}"
                              th:object="${request}">
                            <button type="submit">Send</button>
                        </form>
                    </td>
                </div>
            </tr>
        </div>
    </table>
    <hr>
</div>

<form th:method="GET"
      th:action="@{/lk/user/{id}/requests(id=${person.getId()})}">
    <button type="submit">Create new request</button>
</form>
</body>
</html>